<div class="p-8">
  <h1 class="text-3xl font-semibold mb-8">Mon Portefeuille SCPI</h1>

  <div class="mb-8">
    <app-portfolio-summary></app-portfolio-summary>
  </div>
  
  <div class="grid grid-cols-2 gap-6">
    <div class="bg-white rounded-lg shadow-md p-6 min-h-[450px]">
      <app-montant-total-investi></app-montant-total-investi>
    </div>
    
    <div class="bg-white rounded-lg shadow-md p-6 min-h-[450px]">
      <app-revenusmensuels></app-revenusmensuels>
    </div>
    
   
    
    <div class="bg-white rounded-lg shadow-md p-6 min-h-[450px]">
      <app-repartition-geographique></app-repartition-geographique>
    </div>

     <div class="border !border-secondary rounded-lg shadow-md p-6 min-h-[450px]">
      <app-repartition-sectorielle></app-repartition-sectorielle>
    </div>
  </div>
  <div>
    <app-liste-investissements></app-liste-investissements>
  </div>
</div>