<div class="flex flex-row items-center justify-between gap-8">
  <section class="text-start">
    <h1 class="text-4xl md:text-5xl font-bold text-tertiary mb-4">
      Bienvenue sur SCPI Invest
    </h1>
    <p class="text-xl text-gray-600 mb-8">
      Investissez dans l'immobilier facilement et en toute sérénité
    </p>
    <div class="flex gap-4 justify-start flex-wrap">
      <app-button variant="primary" (onClick)="navigateToScpi()">
        Découvrir nos SCPI
      </app-button>
    </div>
  </section>
  <div class="flex-shrink-0">
    <img
      ngSrc="./../hero-section.jpg"
      alt="Investissement immobilier SCPI"
      height="400"
      width="400"
      priority
    />
  </div>
</div>
