<div class="tax-section card">
    <h4>Fiscalité & TMI</h4>
    <p class="description">Ajustez votre Tranche Marginale d'Imposition pour voir l'impact net.</p>
    
    <div class="tmi-slider-container">
        <input 
          type="range" 
          class="tmi-slider" 
          min="0" 
          max="45" 
          [(ngModel)]="tmiValue"
          (input)="updateTmiDisplay()" 
        >
        
        <div class="tmi-display">
            <span class="tmi-value">{{ tmiValue }}</span>
            <span class="tmi-unit">%</span>
        </div>
    </div>
    <span class="tmi-footer">Votre TMI est par défaut à {{ defaultTmi }}%</span>
</div>