<div *ngIf="loading" class="grid grid-cols-4 gap-4">
  <div
    *ngFor="let i of [1, 2, 3, 4]"
    class="bg-gray-100 rounded-xl h-24 animate-pulse"
  ></div>
</div>

<div *ngIf="!loading && portfolio" class="grid grid-cols-4 gap-4">
  <div
    class="p-3 flex flex-col justify-center items-start bg-gradient-to-br !from-primary/70 !to-primary/25 rounded-xl border border-secondary hover:shadow-lg transition-shadow"
  >
    <div class="flex items-center justify-between w-full mb-2">
      <p class="text-sm !text-secondary font-semibold">Montant Total Investi</p>
      <i class="pi pi-wallet text-2xl !text-secondary"></i>
    </div>
    <p class="text-3xl font-bold !text-tertiary">
      {{ portfolio.totalInvestedAmount | formatField : "currency" }}
    </p>
    <p class="text-xs !text-secondary mt-2">{{ getFirstInvestmentLabel() }}</p>
  </div>

  <div
    class="p-3 flex flex-col justify-center items-start bg-gradient-to-br !from-primary/70 !to-primary/25 rounded-xl border border-secondary hover:shadow-lg transition-shadow"
  >
    <div class="flex items-center justify-between w-full mb-2">
      <p class="text-sm !text-secondary font-semibold">Revenus Mensuels Nets</p>
      <i class="pi pi-chart-line text-2xl !text-secondary"></i>
    </div>
    <p class="text-3xl font-bold !text-tertiary">
      {{ portfolio.totalMonthRevenu | formatField : "currency" }}
    </p>
    <p class="text-xs !text-secondary mt-2">Dernière distribution</p>
  </div>

  <div
    class="p-3 flex flex-col justify-center items-start bg-gradient-to-br !from-primary/70 !to-primary/25 rounded-xl border border-secondary hover:shadow-lg transition-shadow"
  >
    <div class="flex items-center justify-between w-full mb-2">
      <p class="text-sm !text-secondary font-semibold">Cumuls de revenus</p>
      <i class="pi pi-chart-bar text-2xl !text-secondary"></i>
    </div>
    <p class="text-3xl font-bold !text-tertiary">
      {{ 8025 | formatField : "currency" }}
    </p>
    <p class="text-xs !text-secondary mt-2">Rendement: 5.5%</p>
  </div>

  <div
    class="p-3 flex flex-col justify-center items-start bg-gradient-to-br !from-primary/70 !to-primary/25 rounded-xl border border-secondary hover:shadow-lg transition-shadow"
  >
    <div class="flex items-center justify-between w-full mb-2">
      <p class="text-sm !text-secondary font-semibold">
        Durée de détention
      </p>
      <i class="pi pi-clock text-xl !text-secondary/60"></i>
    </div>

    <p class="text-3xl font-bold !text-tertiary">
      {{ averageHoldingMonths | duration }}
    </p>

    <p class="text-xs !text-secondary mt-2">Durée moyenne</p>
  </div>
</div>
