<div
  class="bg-[#F8F3ED] rounded-b-[20px] !border !border-[#5B9F5A] overflow-hidden hover:shadow-lg transition-shadow duration-300 h-full"
>
  <div class="flex flex-col h-full">
    <!-- Image avec drapeau -->
    <div class="w-full h-20 overflow-hidden relative">
      <img
        [src]="
          scpi.imageUrl ||
          'https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?w=800'
        "
        [alt]="scpi.name"
        class="w-full h-full object-cover"
      />
      <div class="absolute top-1 right-4">
        <span
          class="inline-flex items-center px-3 py-1 rounded-full text-xs font-semibold bg-green-100 text-green-800"
        >
          Cashback {{ scpi.cashback }}%
        </span>
      </div>

      <div class="absolute bottom-2 left-2">
        <img
          [src]="'img/flags/' + getCountryCode(scpi.country) + '.png'"
          [alt]="scpi.country"
          class="w-7 h-5 object-cover rounded-sm"
        />
      </div>
    </div>

    <div class="relative flex flex-col flex-1 p-2.5">
      <h3 class="text-lg font-bold text-gray-900 mb-3">
        {{ scpi.name }}
      </h3>

      <p class="text-gray-600 text-sm mb-3 line-clamp-3">
        {{ scpi.advertising }}
      </p>

      <div class="flex items-start justify-between mb-4 gap-2">
        <div
          class="flex flex-col border !border-secondary p-2.5 rounded flex-1"
        >
          <div class="flex items-center gap-1.5 mb-2">
            <i class="pi pi-chart-line text-[#5B9F5A] text-lg"></i>
            <span class="text-gray-700 text-xs font-medium"
              >Rendement<br />Annuel</span
            >
          </div>
          <span class="text-gray-900 text-xl">
            {{ scpi.distributionRate }}%
          </span>
        </div>

        <div
          class="flex flex-col border !border-secondary p-2.5 rounded flex-1"
        >
          <div class="flex items-center gap-1.5 mb-2">
            <i class="pi pi-money-bill text-[#5B9F5A] text-lg"></i>
            <span class="text-gray-700 text-xs font-medium"
              >Montant<br />Minimum</span
            >
          </div>
          <span class="text-gray-900 text-xl">
            {{ scpi.minimumSubscription | number : "1.0-0" }}€
          </span>
        </div>
      </div>

      <div class="flex items-center gap-3 mt-auto">
        <button
          type="button"
          (click)="onViewMore()"
          class="flex-1 px-4 py-2.5 text-sm font-bold !bg-[#F8F3ED] rounded-full text-gray-800 !border !border-gray-300 hover:!border-secondary transition-all"
        >
          Voir plus
        </button>

        <button
          type="button"
          (click)="onInvest()"
          class="flex-1 px-4 py-2.5 text-sm font-bold rounded-full !bg-[#5B9F5A] text-white hover:!bg-[#4a8549] transition-all duration-200 !border-0"
        >
          Investir
        </button>
      </div>
    </div>
  </div>
</div>
