<ng-container>
  <header class="bg-primary shadow-sm border-b border-gray-200">
    <div class="container max-w-6xl mx-auto px-4 py-4">
      <nav class="flex items-center justify-between">

        <div class="text-2xl font-bold cursor-pointer">
          <span class="text-secondary">SCPI</span>
          <span class="text-tertiary"> Invest</span>
        </div>


        <div class="flex items-center gap-3">
          <app-button variant="outline" size="md" (clicked)="onLogin()">
            Se connecter
          </app-button>

          <app-button variant="primary" size="md" (clicked)="onRegister()">
            S'inscrire
          </app-button>
        </div>
      </nav>
    </div>
  </header>


  <app-dialog
    [isOpen]="isLoginDialogOpen"
    title="Se connecter"
    size="md"
    (close)="closeLoginDialog()"
  >
    <div class="space-y-4">
      <app-form-field
        label="Email"
        type="email"
        placeholder="votre@email.com"
        inputId="login-email"
        [required]="true"
      >
      </app-form-field>

      <app-form-field
        label="Mot de passe"
        type="password"
        placeholder="••••••••"
        inputId="login-password"
        [required]="true"
      >
      </app-form-field>
    </div>
  </app-dialog>

  <!-- Dialog Inscription -->
  <!-- <app-dialog
  [isOpen]="isRegisterDialogOpen"
  title="S'inscrire"
  size="md"
  (close)="closeRegisterDialog()">

  <div class="space-y-4">
    <app-form-field
      label="Nom complet"
      type="text"
      placeholder="Jean Dupont"
      inputId="register-name"
      [required]="true">
    </app-form-field>

    <app-form-field
      label="Email"
      type="email"
      placeholder="votre@email.com"
      inputId="register-email"
      [required]="true">
    </app-form-field>

    <app-form-field
      label="Mot de passe"
      type="password"
      placeholder="••••••••"
      inputId="register-password"
      [required]="true">
    </app-form-field>

    <app-form-field
      label="Confirmer le mot de passe"
      type="password"
      placeholder="••••••••"
      inputId="register-password-confirm"
      [required]="true">
    </app-form-field>

    <div class="flex justify-end gap-3 pt-4">
      <app-button
        variant="outline"
        (clicked)="closeRegisterDialog()">
        Annuler
      </app-button>

      <app-button
        variant="primary">
        S'inscrire
      </app-button>
    </div>
  </div>

</app-dialog> -->
</ng-container>
