<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-5">
  
  <!-- Donut Répartition Géographique -->
  <div class="bg-white rounded-lg shadow-md p-6">
    <h3 class="text-xl font-semibold mb-4 text-gray-800">
      Répartition Géographique
    </h3>
    
    <div class="flex justify-center items-center" style="height: 400px;">
      <p-chart 
        type="doughnut" 
        [data]="geographicalData" 
        [options]="chartOptions"
        class="w-full"
      />
    </div>
  </div>

  <!-- Donut Répartition Sectorielle -->
  <div class="bg-white rounded-lg shadow-md p-6">
    <h3 class="text-xl font-semibold mb-4 text-gray-800">
      Répartition Sectorielle
    </h3>
    
    <div class="flex justify-center items-center" style="height: 400px;">
      <p-chart 
        type="doughnut" 
        [data]="sectoralData" 
        [options]="chartOptions"
        class="w-full"
      />
    </div>
  </div>

</div>