::ng-deep .p-datatable,
::ng-deep .p-datatable-wrapper {
  background-color: #f5f5f5 !important;
  color: #000 !important;
}

::ng-deep .p-datatable-thead > tr > th {
  background-color: #e0e0e0 !important;
  color: #000 !important;
}

::ng-deep .p-datatable-tbody > tr > td {
  background-color: #ffffff !important;
  color: #000 !important;
}

::ng-deep .p-datatable-tbody > tr:hover > td {
  background-color: #eaeaea !important;
}

/* Pagination */
::ng-deep .p-paginator {
  background-color: #f5f5f5 !important;
  border-top: 1px solid #ccc;
  color: #000 !important;
}

::ng-deep .p-paginator .p-dropdown,
::ng-deep .p-dropdown-panel {
  background-color: #fff !important;
  color: #000 !important;
}

::ng-deep .p-paginator .p-highlight {
  background-color: #007ad9 !important;
  color: #fff !important;
}

/* Badge de statut */
::ng-deep .p-badge {
  padding: 0.4rem 0.75rem;
  border-radius: 1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.status-success {
  background-color: #d4edda !important;
  color: #155724 !important;
}

.status-failed {
  background-color: #f8d7da !important;
  color: #721c24 !important;
}

.status-pending {
  background-color: #fff3cd !important;
  color: #856404 !important;
}
::ng-deep .p-dropdown {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ccc !important;
}

::ng-deep .p-dropdown-panel {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ccc !important;
}

::ng-deep .p-dropdown-item {
  background-color: #fff !important;
  color: #000 !important;
}

::ng-deep .p-dropdown-item:hover {
  background-color: #eaeaea !important;
}
