<section class="perf-card">
  <ng-container *ngIf="!insufficientHistory && data; else noData">
    <div class="chart-container">
      <div class="chart-wrapper">
        <p-chart [data]="data" [options]="options" class="chart"></p-chart>

        <h3 class="chart-title">Évolution de la performance</h3>
      </div>
      <div class="average-card" *ngIf="average3Years !== null">
        <div class="average-content">
          <h4 class="average-title">Rendement moyen</h4>
          <p class="average-value">{{ average3Years | number : "1.2-2" }}%</p>
          <p class="average-label">Sur les 3 dernières années</p>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="no-data">
      <p *ngIf="insufficientHistory">Historique insuffisant</p>
      <p *ngIf="!insufficientHistory">
        Aucune donnée disponible pour le moment.
      </p>
    </div>
  </ng-template>
</section>
<ng-template #loading>
  <div class="loading">
    <p>Chargement des performances...</p>
  </div>
</ng-template>
